<div class="navbar-nav" style="background-color: grey ;">
    <div class="row p-1">

        <div class="col">
            <app-link-logo 
                [srcIcon]="argProgIcon"
                [hrefLink]="argProgLink">
            </app-link-logo>
            <a href="{{ argProgLink }}" style="font-weight: bold ; color: black;">#YoProgramo</a>
        </div>

        <div class="col">
            <app-link-logo class="d-flex justify-content-end"
                [srcIcon]="linkedInIcon"
                [hrefLink]="linkedInLink">
            </app-link-logo>
        </div>
    
        <div class="col">
            <app-link-logo  class="d-flex justify-content-end"
                [srcIcon]="githubIcon"
                [hrefLink]="githubLink">
            </app-link-logo>
        </div>

        <div class="col">
            <app-link-logo class="d-flex justify-content-end"
                [srcIcon]="instagramIcon"
                [hrefLink]="instagramLink">
            </app-link-logo>
        </div>

        <div class="col">
            <app-button-login class="d-flex justify-content-end"></app-button-login>
        </div>
    </div>
    
</div>

