<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="logo">
                <a href="https://argentinaprograma.inti.gob.ar/" class="hashtag">
                    <img src="assets/arg-programa-icon.png" alt="Argentina Programa logo" height="32">
                    <strong >#YOPROGRAMO</strong>
                </a>
            </div>
            
            <div class="social-media">
                <a href="https://github.com/GonzaloVega26">
                    <img src="assets/github-icon.png" alt="Github logo" height="32">
                </a>
                <a href="https://www.linkedin.com/in/gonzalo-vega26/">
                    <img src="assets/linkedin-icon.png" alt="LinkedIn logo" height="32">
                </a>
                <a href="">
                    <img src="" alt="" height="32">
                </a>

                <app-button-login></app-button-login>
            </div>
            
            
        </div>
    </div>
</div>