<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-1 col-sm-3 col-md-3 col-lg-3 p-0">
            <app-profile-pic></app-profile-pic>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1>{{ person.name }}</h1>
            <h2> {{ person.title }} </h2>
            <button *ngIf="isLogged" type="submit" class="btn btn-dark" routerLink="/update-person">Edit Profile!</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>About Me</h1>
            <p> {{ person.about }} </p>
        </div>
    </div>
</div>