<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-1 col-sm-3 col-md-3 col-lg-3 p-0">
            <app-profile-pic></app-profile-pic>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1>{{ person.name }} {{ person.firstName }} </h1>
            <h2>Full-Stack Web</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non aut ea, dolores voluptate dignissimos id molestias dolor explicabo fugit provident magnam nemo, esse inventore sapiente. Quia ducimus mollitia corporis magni?</p>
        </div>
    </div>
</div>