
.profile-pic{
    left: 25px;
    bottom: 100px;
    border-radius: 10%;
    position: relative;
}
    

@media screen and (max-width: 576px) {
    
    .profile-pic{
        position: initial;
        left: 0px;
        bottom: 0px;
        max-height: 50vh;
    }
    
    
}