<div class="container">
    <h2>Education Experience</h2>
    <div class="row">
        <div class="col-lg-11">
            <ul>
                <li>
                    <h3>Education Title</h3>
                    <h4>Date</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sed provident illum saepe modi maxime.</p>
                </li>
                <li>
                    <h3>Education Title</h3>
                    <h4>Date</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sed provident illum saepe modi maxime.</p>
                </li>
            </ul>
        </div>
    </div>
</div>