h3{
    display: inline;
}

.icon{
    display: inline-block;
    margin: 0 0 0 1.1em;
    transition: 0.5s;
}

.icon:hover{
    scale: 1.4;
}

.actions{
    display: inline;
}

.sad-msg{
    display: flex;
    justify-content: center;
}