<div class="container">
    <h2>Job Experiences</h2> <button *ngIf="isLogged" type="submit" class="btn btn-dark" routerLink="/new-experience">Add New Experience!</button>
    <div class="row">
        <div class="col-lg-11">
            <ul>
                <li *ngFor="let experience of experiences">
                    <h3>{{experience.name}}:</h3> 
                    <a href="/update-experience/{{experience.id}}"> <img class="icon" src="/assets/edit-icon.png" alt="Update Experience"></a> 
                    <a href="/" (click)="onDelete(experience.id)"> <img class="icon" src="/assets/delete-icon.png" alt="Delete Experience"></a>
                    
                    <p>{{experience.description}}</p>
                </li>
                
            </ul>
        </div>
    </div>
</div>