<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form (ngSubmit)="onCreate()" novalidate>
            <!-- Job's Title input -->
            <div class="form-outline mb-4">
              <input type="text" id="name" name="name" class="form-control form-control-lg"
              [(ngModel)]="name"  required/>
              <label class="form-label" for="name">Education's Title</label>
            </div>
  
            <!-- Description input -->
            <div class="form-outline mb-4">
              <input type="text" id="description" name="description" class="form-control form-control-lg"
              [(ngModel)]="description"  required />
              <label class="form-label" for="description">Description:</label>
            </div>
  
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" >Create Education</button>
  
          </form>
        </div>
      </div>
    </div>
  </section>