.container-fluid{
    background: linear-gradient(#355764,#231955);
    color:white;
}
h2{
    display: block;
}

.icon{
    display: inline-block;
    margin: 0 0 0 1.1em;
    transition: 0.5s;
}

.icon:hover{
    scale: 1.4;
}


.sad-msg{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}


.circle-container{
    display: flex;
    align-items: center;
    flex-direction: reverse-column;
}
